@font-face{
  font-family:"revicons";
  fallback:fallback;
  src:url("/fonts/revicons/Revicons.woff") format('woff'),
  url("/fonts/revicons/Revicons.ttf") format('ttf'),
  url("/fonts/revicons/Rrevicons.eot") format('ttf')
}