$custom-primary: #FCE122;
$custom-active-link: #CE5F00;
$custom-secondary: #292929;
$custom-dark: #292929;
$custom-gray: #595959;
$custom-light: #f0f0f0;

$theme-colors: (
  primary: $custom-primary,
  secondary: $custom-secondary,
  light: $custom-light,
  gray: $custom-gray,
  dark: $custom-dark,
) !default;

$font-size-xs: 0.75rem;

$font-heading: "Montserrat", sans-serif;
$font-body: "Roboto", sans-serif;

$container-width: 1800px;
