@charset "UTF-8";

@import "fonts/montserrat";
@import "fonts/roboto";
@import "custom";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./toastify.scss";
@import "./multi-carousel.scss";
@import "./rte.scss"; 

body {
  margin: 0;
}

h1 {
  font-family: $font-heading;
}

.btn {
  border-radius: 0.5rem;
  height: fit-content;
  width: fit-content;
  font-family: $font-heading;
  font-weight: 600;
  font-size: 0.925em;
  display: inline-flex;
  align-items: center;
}

.btn-sm, .btn-group-sm {
  font-size: 0.875rem;
}

.btn-action {
  padding: 0.75rem 2.25rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.btn-icon {
  svg {
    margin-right: 0.5rem;
  }
}

.btn-inline {
  border: 0;
  color: $custom-gray;
  padding: 0;
  margin-left: 0.8em;
  vertical-align: bottom;
  &:hover, &:active, &:focus {
    color: $custom-dark;
  }
}

a:not(.btn) {
  transition: all 0.175s ease-in-out;
  border-bottom: 2px solid $custom-primary;
  &:hover {
    border-bottom-width: 4px;
  }
}

main.container {
  margin-bottom: 30px;
  //max-width: none;
  //min-height: 100vh;
  padding: 2.5rem 2.25rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: $container-width;
}

// break out of container width
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

a:not(.btn), a:not(.btn):hover, a:not(.btn):visited {
  color: inherit;
  text-decoration: none;
  position: relative;
  display: inline;
}

.page {
  font-family: $font-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: $custom-dark;
}

.subpage {
  background-image: url("/assets/img/city_static.svg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-y: 5vh;
  background-position-x: 40vw;
  background-size: 100% 140%;
}

.frontpage {
  background-color: $custom-primary;
  position: relative;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url("/assets/img/city_rotate.svg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-y: 5vh;
    background-position-x: 40vw;
    background-size: 100% 140%;
  }
  main.container, .footer-links {
    a {
      border-color: white;
    }
  }
}

header {
  font-family: $font-heading;
  width: 100%;
}
header > .row {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2.25rem 1rem;
  .icon-navigation {
    justify-content: flex-end;
  }
  .col {
    padding: 0;
    &:nth-child(2) { text-align: center; }
    &:nth-child(3) { align-items: flex-end; }
  }
  a.header-logo {
    border: none;
  }
}
.page-title {
  font-weight: 700;
  font-size: 1.25rem;
}

nav {
  ul {
    padding: 0;
    justify-content: flex-end;
    list-style: none;
    display: flex;
    margin-bottom: 0;
  }
}

.home-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 5;
  .title {
    font-family: $font-heading;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 1.15;
    max-width: 50rem;
  }
  .quote {
    font-family: $font-body;
    font-weight: 300;
    font-style: italic;
    font-size: $h1-font-size;
    line-height: 1.3;
    max-width: 40rem;
    margin: 3rem 0;
  }
  .author {
    margin-top: 0;
    font-size: $h4-font-size;
  }
  .btn {
    line-height: 1.15;
    width: 25rem;
    display: flex;
    padding: 1.125rem 4rem;
    border-radius: 0.75rem;
    flex-direction: column;
    align-items: center;
    font-style: italic;
    font-weight: 400;
    font-size: $font-size-lg;
    .button-title {
      padding-bottom: 0.75rem;
      font-family: $font-heading;
      font-style: normal;
      font-weight: 600;
      font-size: $h4-font-size;
    }
  }
}

footer {
  font-family: $font-heading;
  width: 100%;
  .footer-content {
    display: flex;
    align-items: center;
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 2.25rem 2.5rem;
    .col {
      &:nth-child(2) { text-align: center; }
      &:nth-child(3) { text-align: right; }
    }
    .footer-links a {
      font-size: $font-size-sm;
      font-weight: 500;
    }
  }
}

.social-icons {
  display: flex;
  align-items: center;
  a {
    margin-right: 1.625rem;
    color: inherit;
    transition: all linear 0.125s;
    border: none;
    &:hover {
      opacity: .625;
    }
  }
}

.project-carousel-content {
  -webkit-overflow-scrolling: auto;
  ul {
    display: flex;
    list-style-type: none;
    max-width: 100vw;
    overflow: scroll;
    -ms-overflow-style: none;
  }
  ::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}

.card-title {
  font-size: $h3-font-size;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  flex-grow: 1;
  box-shadow: 0 6px 25px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0.625rem;
  border: none;
  padding: 0 1.5rem;
  margin: 1.5rem;
  .card-body {
    padding: 0 0 1.75rem;
    .button-area {
      margin-top: 2rem;
      text-align: right;
      .btn {
        margin-left: 0.5rem;
      }
    }
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  background: none;
  border: none;
  padding: 1.75rem 0;
  font-weight: bold;
  font-size: 1.5rem;
  h3 {
    font-weight: bold;
    font-size: $h3-font-size;
  }
  .title-section {
    display: flex;
    flex-direction: column;
    h3 {
      margin: 0;
    }
    span {
      margin-top: 0.25rem;
      color: $custom-gray;
      font-size: $font-size-sm;
    }
  }
}

.marketplace-card {
  min-height: 16rem;
  max-width: 44rem;
  .card-header {
    align-items: flex-start;
  }
  .card-body {
    p { margin: 0; }
    .btn {
      border-radius: 0.75rem;
      margin: auto;
      @extend .btn-action;
    }
  }
  .dropdown {
    display: flex;
  }
}

.empty-card {
  border: 3px dashed #CCCCCC;
  box-shadow: none;
  .card-body {
    display: flex;
    flex-grow: 1;
    margin-bottom: 2rem;
    padding: 0;
    font-size: 1.125rem;
    font-family: $font-heading;
    font-style: italic;
    font-weight: 400;
    text-align: center;
  }
}

.body-card {
  width: 100%;
  max-width: none;
  min-width: 0;
  min-height: 0;
  margin: 1rem 0 0 0;
  flex-grow: 0;
}

.profile-form {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  .form-text {
    color: $custom-gray;
    font-size: $font-size-sm;
    font-weight: normal;
  }
  .card-header {
    h3 {
      font-size: $h3-font-size;
      margin-bottom: 1rem;
    }
    .icon-navigation {
      align-items: flex-start;
    }
    .form-group {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 0.75rem;
      label { display: none; }
      input {
        width: 50%;
        border: none;
        outline: none;
        font-size: $h3-font-size;
        color: $custom-dark;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
    }
  }
  .card-title {
    border-top: 1px solid $custom-light;
    padding-top: 1.5rem;
    margin-top: 0;
  }
  .card-body {
    padding-bottom: 2rem;
    h3 {
      font-weight: bold;
      font-size: 1.25rem;
      margin-bottom: 0.125rem;
    }
    h3 + div {
      margin-top: 0.75rem;
    }
    .description {
      color: #595959;
      font-size: 0.875rem;
      font-weight: normal;
      margin-bottom: 0.5rem;
    }
    .profile-value-empty {
      font-style: italic;
      color: #767676;
    }
    .form-group {
      margin-bottom: 2.25rem;
    }
  }
}

.slider {
  .rangeslider, .rangeslider .rangeslider__fill {
    box-shadow: none;
  }
  .rangeslider {
    background: $custom-light;
    .rangeslider__fill {
      background: $custom-primary;
    }
    .rangeslider__handle {
      width: 20px;
      height: 20px;
      box-shadow: none;
      border: 2px solid black;
      outline: none;
      &:after {
        display: none;
      }
    }
    .rangeslider__labels {
      .rangeslider__label-item {
        font-size: $font-size-xs;
        color: $custom-dark;
        &:first-child {
          transform: translateX(-85%);
        }
        &:last-child {
          transform: translateX(-8px);
        }
      }
    }
  }
  .rangeslider-horizontal {
    height: 10px;
    margin-bottom: 3rem;
  }
}

.slider-static {
  pointer-events: none;
  .rangeslider {
    .rangeslider__handle {
      border-color: #c1c1c1;
    }
  }
}

.icon-navigation {
  display: flex;
  align-items: center;
  a.navigation-item, .navigation-item > button {
    display: flex;
    cursor: pointer;
    color: inherit;
    margin-left: 1.625rem;
    transition: all linear 0.125s;
    border: none;
    &:hover {
      opacity: .625;
    }
    &:before {
      background: transparent;
    }

    .spinner-border {
      margin: 0;
      height: 1em;
      width: 1em;
    }
  }
  a.active {
    color: $custom-active-link;
  }
}

.dropdown {
  .btn, .btn-secondary {
    padding: 0;
    border: none;
    background: none;
    color: inherit;
    transition: all linear 0.125s;
    &:hover, &:focus, &:active, &:not(:disabled):not(.disabled):active {
      background: none;
      color: inherit;
      box-shadow: none;
      opacity: .625;
    }
  }

  .dropdown-menu {
    border: none;
    background-color: $custom-primary;
    box-shadow: 0 3px 6px #00000029;
    text-align: center;
    margin-right: -12px;
    margin-top: 13px;
    z-index: 10000;
    &:before {
      position: absolute;
      content: "";
      top: -13px;
      right: 13px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 13px solid $custom-primary;
    }
    .dropdown-item {
      padding: 0;
      font-family: $font-heading;
      &:hover {
        background: rgba(255, 255, 255, 0.5);
      }
      &:active, a.active {
        background: rgba(255, 255, 255, 0.5);
        color: inherit;
      }
      * {
        display: block;
        padding: 0.75rem 1.5rem;
        color: inherit;
        border: none;
        &:hover, &:visited, &:active {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
  .dropdown-menu-light {
    background-color: white;
    &:before {
      border-bottom-color: white;
    }
    .dropdown-item {
      &:hover {
        background: $custom-light;
      }
      &:active {
        background: $custom-primary;
      }
    }
  }
}

.toggler {
  cursor: pointer;
}

.caret {
  transition: all ease-in-out 0.25s;
  height: fit-content;
}

.caret-toggled {
  transform: rotate(90deg);
  transform-origin: 50% 50% 0;
}

.collapse-card {
  flex-grow: 0;
  margin-left: 0;
  margin-right: 0;
  min-height: 0;
  width: 100%;
  max-width: 1800px;
  min-width: 0;
  .card-header {
    background: none;
    border: none;
    align-items: center;
  }
  .collapse .show {
    display: flex;
    flex-direction: column;
  }
  .card-body {
    font-size: 16px;
    padding: 1rem 0 2rem;
    margin-top: 0;
    .icon-navigation {
      margin: 0 0 2rem;
      justify-content: flex-end;
    }
  }
}

@media screen and (max-width: 1439px) {
  .collapse-card {
    .card-body { font-size: 13px; }
  }
}
@media screen and (max-width: 1180px) {
  .collapse-card {
    .card-body { font-size: 12px; }
  }
}

.step-container {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  z-index: 2;
  .progress-box {
    border-color: $custom-dark;
    &:hover {
      border-width: 2px;
    }
  }
  .inactive {
    border-color: #b4b4b4;
  }
}
.sub-step-container {
  position: relative;
  display: flex;
  margin-left: 6rem;
  z-index: 0;
  margin-top: -5rem;
}

a.progress-box:hover {
  cursor: pointer;
  margin-top: -0.75em;
}

.progress-box {
  position: relative;
  height: 15em;
  width: 12em;
  margin-right: 1em;
  padding: 1.5em 1.75em 1.75em;
  border: 2px solid $custom-dark;
  border-radius: .75em;
  box-shadow: none;
  text-align: left;
  text-transform: uppercase;
  background: white;
  transition: all ease-in-out 0.175s;
  .text-gray {
    opacity: 0.325;
  }
  .progress-box-title {
    font-size: 1em;
    margin-bottom: 0;
  }
  .progress-box-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .progress-box-text {
      margin-top: 1em;
      line-height: normal;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      .project-milestone-prefix {
        font-size: 0.875em;
        font-weight: bold;
      }
      .progress-box-title {
        font-size: 1.75em;
        font-weight: bold;
        margin: 0.25em 0 0.25em;
      }
      .title-smaller {
        font-size: 1.3em;
        padding-bottom: 0.5em;
      }
      .progress-box-status {
        font-size: 0.7em;
        font-weight: 500;
        color:#595959;
      }
    }
    .progress-box-status-icon {
      align-self: center;
    }
  }

  &:first-child,
  &:not(:first-child):not(:last-child) {
    &:before, &:after {
      left: 100%;
      top: 50%;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      margin-top: -1.25em;
      border: 1.25em solid transparent;
      border-right-width: 0;
      border-left-width: 1.125em;
      background: transparent;
    }
    &:before {
      border-left-color: #000;
    }
    &:after {
      border-left-color: #fff;
      margin-left: -2px;
    }
  }

  &:not(:first-child):not(:last-child),
  &:last-child {
    div {
      &:before, &:after {
        left: 0;
        top: 50%;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        margin-top: -1.25em;
        border: 1.25em solid transparent;
        border-right-width: 0;
        border-left-width: 1.125em;
      }
      &:before {
        border-left-color: #000;
      }
      &:after {
        border-left-color: #fff;
        margin-left: -2px;
      }
    }
  }

  &:last-child {
    width: 13em;
    padding-right: 0;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    &:before, &:after {
      position: absolute;
      content: "";
      top: 50%;
      left: 100%;
      width: 0;
      height: 0;
      margin-top: -7.5em;
      border-top: 7.5em solid transparent;
      border-bottom: 7.5em solid transparent;
      border-right-width: 0;
      border-left: 40px solid;
      background: transparent;
    }
    &:before {
      border-left-color: black;
    }
    &:after {
      margin-left: -2px;
      border-left-color: white;
    }
  }
}

.inactive {
  color: #b4b4b4;
  pointer-events: none;
  border-color: #b4b4b4;

  .progress-box-body {
    color: #b4b4b4;
    .progress-box-text {
      .progress-box-status {
        color: #cacaca;
      }
    }
  }

  .text-gray {
    opacity: 0.125;
  }

  &:first-child,
  &:not(:first-child):not(:last-child),
  &:last-child {
    &:before {
      border-left-color: #b4b4b4;
    }
    div {
      &:before {
        border-left-color: #b4b4b4;
      }
    }
  }
}

a.sub-status-card {
  position: relative;
  background: #EFF0EF;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  width: 10em;
  height: 13em;
  border-radius: 0.75em;
  border: none;
  padding: 0 1em 1em 1.5em;
  margin-right: 1.25em;
  margin-top: 0;
  margin-bottom: 1.5em;
  text-transform: uppercase;
  box-shadow: none;
  cursor: pointer;
  transition: all ease-in-out 0.175s;

  &:hover {
    margin-top: 0.5em;
    margin-bottom: 0;
    display: flex;
  }

  h3 {
    font-size: 1.75em;
    font-weight: 600;
    margin-bottom:1em;
  }

  &:first-child,
  &:not(:first-child):not(:last-child) {
    &:after {
      left: 100%;
      top: 50%;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      margin-top: -17px;
      border-top: 17px solid transparent;
      border-bottom: 17px solid transparent;
      border-left: 14px solid #eff0ef;
    }
  }

  &:not(:first-child):not(:last-child),
  &:last-child {
    &:before {
      left: -4px;
      top: 50%;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      margin-top: -17px;
      border-top: 17px solid transparent;
      border-bottom: 17px solid transparent;
      border-left: 14px solid white;
    }
  }

  &:last-child {
    width: 12em;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    &:after {
      position: absolute;
      content: "";
      top: 0;
      left: 100%;
      width: 0;
      height: 0;
      border-top: 6.5em solid transparent;
      border-left: 30px solid #eff0ef;
      border-right: 10px solid transparent;
      border-bottom: 6.5em solid transparent;
    }
  }
}

/**
 * >>> Forms
 */
.form-group .input-group {
  padding-bottom: 0.75rem;
}

.form-general-error-container {
  color: $danger;
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.form-general-error {
  margin-bottom: 0.5em;
}

.rte-container {
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: $custom-light;
  .ql-container.ql-snow {
    font-size: 15px;
    border: none;
    .ql-editor {
      padding-top: 1rem;
    }
  }
  .ql-toolbar.ql-snow {
    border: none;
    background: white;
    border-radius: 0.25rem;
  }
}
/**
 * <<< Forms
 */

.form-control, .ql-editor {
  background-color: $custom-light;
  transition: all ease-in-out 0.175s;
}

.form-control:focus, .rte-active {
  background-color: $custom-light;
  outline: 0;
  box-shadow: 0 0 0.2rem 0.2rem adjust_color($custom-primary, $alpha: -0.5);
}

.form-group {
  label {
    font-weight: bold;
    font-size: $font-size-lg;
    margin-bottom: 0.125rem;
  }
  input, textarea {
    border: none;
    color: $custom-dark;
  }
  textarea {
    height: 5.5rem;
  }
  .form-text {
    margin: 0 0 0.5rem;
  }
}

.project-tasks {
  padding: 0 2.25rem;
  .card-header {
    border-bottom: 1px solid $custom-light;
  }
  .card-body {
    h4 {
      font-weight: bold;
      display: inline-flex;
      align-items: baseline;
      font-size: 1.125rem;
      svg { margin-left: 0.375rem; }
      margin-bottom: 0;
    }
    .form-text {
      color: $custom-gray;
      font-size: $font-size-sm;
      font-weight: normal;
      margin-bottom: 1.5rem;
    }
  }
}

.task-card-grid {
  margin-top: 1.5rem;
}

.task-card,
.resource-card {
  word-break: break-word;

  .icon-navigation {
    align-items: flex-start;
    float: right;
    a.navigation-item,
    .navigation-item > button {
      margin-left: 0.5rem;
    }
  }
}

.task-card {
  padding: 0 1.25rem;
  min-height: 5rem;
  margin: 0 0 1rem;
  .card-body {
    padding: 1rem 0;
    p {
      flex-grow: 1;
      margin: 0;
    }
  }
  form {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
  }
  .form-group {
    margin-bottom: 0;
    flex-grow: 1;
  }
}

.empty-task-card {
  margin-bottom: 0;
  min-height: 0;
  .btn-add {
    align-self: center;
  }
  .form-group {
    padding-right: 1rem;
  }
}

.work-packages {
  .card-content {
    display: flex;
    align-items: flex-start;
    .packages {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 4rem;
    }
  }
  .tasks {
    flex-grow: 1;
    .btn-add {
      float: right;
      margin: 1rem 0;
    }
  }
  .work-package-card {
    background: $custom-light;
    position: relative;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    margin: 0 0 1rem;
    width: 25rem;
    &:last-child { margin-bottom: 0 }
    .card-header {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      h4 {
        font-size: 1.25rem;
        font-weight: normal;
      }
      svg {
        position: absolute;
        transform: rotate(90deg);
        right: 1rem;
      }
    }
    .work-package-description {
      font-size: $font-size-sm;
      text-align: left;
      font-style: italic;
      color: $custom-gray;
    }
    .card-footer {
      background: $custom-light;
      padding: 0 0.5rem 0.25rem;
      border: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        color: $custom-gray;
        margin-left: 0.5rem;
        font-size: $font-size-sm;
      }
      .navigation-item {
        margin-left: 0.5rem;
      }
    }
  }

  .work-package-card > .collapse > .card-body,
  .work-package-card > .collapsing > .card-body {
    padding: 0 1.5rem 1.5rem;
    text-align: center;
    min-height: 0;
    .no-tasks {
      font-size: $font-size-sm;
      font-family: $font-heading;
      color: #6D6D6D;
    }
  }

  .no-work-packages {
    .card-header {
      font-size: $font-size-sm;
      font-weight: normal;
      font-family: $font-heading;
      cursor: auto;
    }
  }
}

@media screen and (max-width: 920px) {
  .work-packages {
    .card-content {
      flex-wrap: wrap;
      .packages { margin-right: 0; width: 100%; margin-bottom: 2rem; }
    }
    .tasks {
      display: flex;
      flex-direction: column;
      align-items: center;
      .btn-add {
        float: none
      }
    }
    .work-package-card { width: 100% }
  }
}

.btn-add {
  background: white;
  color: $custom-primary;
  border-radius: 9999rem;
  padding: 0.125rem;
  border: none;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.25);
  transition: all ease-in-out 0.175s;
  &:hover, &:active, &:focus {
    background: $custom-primary;
    color: white;
    border: none;
  }
  &:hover {
    transform: scale(1.25);
  }
  &:active, &:focus {
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.25);
  }
}

.col > .spinner-border,
.card .spinner-border {
  border-color: $custom-primary;
  height: 4rem;
  width: 4rem;
  border-width: 0.5rem;
  border-right-color: transparent;
  align-self: center;
  display: block;
  &:not(.btn .spinner-border, .icon-navigation .spinner-border) {
    margin: auto auto 1rem;
  }
}

.btn .spinner-border,
.icon-navigation .spinner-border {
  height: 1rem;
  width: 1rem;
  border-width: 0.125rem;
  border-color: $custom-dark;
  border-right-color: transparent;
  margin: 0 0 0 0.5rem;
}

.btn-sm .spinner-border {
  height: 0.75rem;
  width: 0.75rem;
  border-width: 0.1rem;
}

.btn-action .spinner-border {
  height: 1.5rem;
  width: 1.5rem;
  border-width: 0.175rem;
  margin-left: 0.75rem;
  margin-right: -0.5rem;
}

.btn-secondary .spinner-border,
.btn-dark .spinner-border {
  border-color: $custom-primary;
  border-right-color: transparent;
}

.card-header + .card-body,
.collapse > .card-body,
.collapsing > .card-body {
  padding-top: 0;
}

.popover, .modal-content {
  box-shadow: 0 6px 25px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0.625rem;
  border: none;
  padding: 0 1.5rem;
  font-family: $font-body;
  .arrow::before { border-right-color: transparent }
  .popover-header, .modal-header {
    background: none;
    border: none;
    padding-top: 1.75rem;
  }
  .modal-title, h3.popover-header {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .form-group {
    label {
      font-weight: 400;
      font-size: 1rem;
    }
  }
  .button-area {
    float: right;
    margin-bottom: 1.75rem;
    button { margin-left: 0.5rem; }
  }
}

.task-popover-container .popover {
  width: 30rem;
  max-width: none;
}

@import "page-project-resources.scss"