.project-resources {
  /* reset the defaults spacing, we want the borders to collapse table-like */
  .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-12,
  .col-md-3, .col-md-4, .col-md-5, .col-md-7, .col-md-8, .col-md-9,
  .col-sm-5, .col-sm-6, .col-sm-7,
  .card-body {
    padding: 0;
  }
  .row {
    margin: 0;
  }

  .btn-add {
    margin-top: 0.3em;
  }

  .work-package-card {
    margin: 2em 0.5em;
    padding: 1em;

    .card-header {
      padding: 0
    }

    .work-package-summary {
      .package-sum {
        margin-top: 1.5em;

        .package-cost-description,
        .package-cost-content {
          font-weight: 600;
          font-size: 1.1em;
        }
      }
      .work-package-add-task,
      .package-cost-content {
        margin-top: 1em;
      }
    }
  } 

  .task-summary {
    .task-add-resource {
      padding-top: 0.5em;
      padding-bottom: 1em;
    }
    .task-cost-description,
    .task-cost-content {
      font-weight: 600;
    }
  }

  /* to align the edit/delete icons */
  .resource-card:not(.resource-form) {
    .resource-cost-content {
      .icon-navigation {
        display: block;
        width: 4em;

        .navigation-item  {    
            float: right
        }
      }
    }
  }

  .total-card {
    margin-bottom: 0;

    .resource-card {
      margin: 0;
    }
    
    .total-cost-description,
    .total-cost-content {
      font-weight: 800;
      font-size: 1.1em;
    }

    .funding-sum-description,
    .funding-sum-content,
    .own-costs-description,
    .own-costs-content,
    .proceeds-sum-description,
    .proceeds-sum-content,
    .unassigned-sum-description,
    .unassigned-sum-content  {
      font-weight: 600;
    }

    .total-cost-description,
    .funding-sum-description,
    .own-costs-description,
    .unassigned-sum-description,
    .proceeds-sum-description {
      margin-top: 1em;
    }
  }

  /* >>> for small screens, all elements are displayed in a column,
     indent to show parent - child relation */
  .task-resources,
  .resource-source,
  .resource-cost {
    margin-top: 1em;
    margin-left: 1em;
  }

  .task-description-label,
  .resource-card:not(.first-resource) {
    margin-top: 1.5em;
  }
  /* <<< small screens */

  @include media-breakpoint-up(sm) {
    .total-card {
      .total-cost-description,
      .funding-sum-description,
      .own-costs-description,
      .unassigned-sum-description,
      .proceeds-sum-description {
        margin-top: 0;
      }
    }

    /* show border only if there are other rows before (finances view) */
    .total-sum:not(:first-child) {
      border-top: 1px solid $custom-gray;
      margin-top: 0.5em;
    }
  }

  /* >>> for medium screens show only resource data in table form */
  @include media-breakpoint-up(md) {
    .work-package-card {
      .resource-card,
      .resource-card:not(.first-resource),
      .resource-cost,
      .resource-source,
      .work-package-summary .package-cost-content {
        margin: 0;
      }

      .resource-description-label,
      .resource-description-content,
      .resource-source-label,
      .resource-source-content,
      .resource-cost-label,
      .resource-cost-content,
      .work-package-add-task,
      .package-cost-content,
      .package-cost-description {
        padding: 0.5em 0.8em 0em;
      }


      .resource-cost-label,
      .package-sum .package-cost-content,
      .package-table-header .cost-label {
        padding-right: 4.8rem;
      }

      .own-costs-sum .own-costs-content,
      .funding-sum .funding-sum-content,
      .proceeds-sum .proceeds-sum-content,
      .unassigned-sum .unassigned-sum-content,
      .total-sum .total-cost-content {
        padding-right: 4rem;
      }
    }
  }
  /* <<< medium screens */

  /* >>> for big screens show table-like structure */
  @include media-breakpoint-up(lg) {
    .package-table-header {
      .th {
        padding: 0.8em 0.8em 0em;
      }
    }

    .work-package-card {
      .task-resources,
      .work-package-summary .package-sum,
      .work-package-summary .work-package-add-task {
        margin: 0;
      }

      .task-summary .task-add-resource,
      .work-package-summary .work-package-add-task {
        padding-left: 2em;
      }

      .task-description-label,
      .task-description-content {
        padding: 0.5em 0.8em;
        margin: 0
      }
    }

    .resource-description-content .icon-navigation {
      margin-right: 0;
    }

    .work-package-summary,
    .task-resources-card {
      border-top: 1px solid $custom-gray;
    }

    .resource-cost-content {
      display: block;
      text-align: right;
    }
  }
  /* <<< big screens */
}