/**
 * Styles for the rich text editor (currently Quill)
 */
.quill {
  display: block;
}

.ql-container {
   height: auto !important;
}

// bar below the editor showing the number of current characters
.ql-textlength {
  font-size: 0.8em;
  line-height: 0.8em;
  margin-top: 0.7em;
}

// for displaying the formatted content
.ql-size-small {
  font-size: 0.8em;
}
.ql-size-large {
  font-size: 1.4em;
}
.ql-size-huge {
   font-size: 2em;
}